# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
pip-log.txt
pip-delete-this-directory.txt
.hypothesis/
sandbox.py

# Models
sandbox/
models/
mlruns/
*.bin
*.pt
*.pth

# Data
*.csv
*.parquet
*.h5
*.pkl

# Logs
*.log
src/logs

# Jupyter
*.ipynb_checkpoints

#IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
TODO.txt
